DATABASE_URL=postgresql://user:password@localhost/dbname
SECRET_KEY=your_secret_key
MODEL_CLASSIFIER_NAME=best_model_ConViT_v4.pth
MODEL_DETECTION_NAME=yolov8_best_v3.pt
CONFIDENCE_THRESHOLD=0.4
DEBUG=True